*.log
*.tlog
*.obj
*.dll
*.exe

Debug

HelloForms/bin
HelloForms/obj
HelloForms/Debug
HelloForms/Release

NetworkViewLib/bin
NetworkViewLib/obj
NetworkViewLib/Debug
NetworkViewLib/Release

Shared/Debug
Shared/Release

.vs/*