*.log
*.tlog
*.obj
*.dll
*.exe
*.VC.db

Debug

HelloForms/bin
HelloForms/obj
HelloForms/Debug
HelloForms/Release

NetworkViewLib/bin
NetworkViewLib/obj
NetworkViewLib/Debug
NetworkViewLib/Release

Shared/Debug
Shared/Release

.vs/*
/Debug.7z
*.7z
